@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img{
    width: 150px;
    height: auto;
}

.center-nav{
    display: flex;
    align-items: center;
}

.search{
    display: flex;
}

.search input{
    min-width: 600px;
    padding: 10px 20px;
    border: 0.5px solid #ccc;
}

.search button{
    border: none;
    padding: 10px 20px;
}

.mic{
    display: grid;
    place-items: center;
    padding: 15px 15px;
    border-radius: 50%;
    background: rgb(240, 235, 235);
    margin-left: 15px;
}

.mic img{
    width: 30px;
    height: auto;
}
.side-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-right: 20px;
}

.tags{
    display: flex;
    padding: 10px 20px;
    gap: 15px;
    border-top: solid 1px #ccc;
}
.tag{
    padding: 5px 15px;
    border-radius: 20px;
    border: solid 1px rgb(115, 115, 115);
}
.dark{
    background: rgb(27, 27, 27);
    color: whitesmoke;
}
.light{
    background: rgb(238,238,238);
    color: rgb(27, 27, 27);
}
.container{
    display: flex;
}
.main-container{
    width: 100%;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 30px;
}

.side-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.side-icons img{
    width: 30px;
}

.side-icons p{
    font-size: 12px;
}

.bars{
    margin-top: 30px;
}

main{
    background: rgb(238, 236, 236);
    height: 100vh;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
}

.card{
    padding: 10px;
    max-width: 320px;
    display:flex;
    flex-direction: column;
}

.avatar-content{
    display: flex;
}

.card h3{
    font-size: 20px;
    font-weight: 600;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.channel-name{
    font-size: 16px;
    font-weight:bold;
}
.content-status{
    display: flex;
    font-size: 14px;
}